:root {
    --button-color: #5267df;
    --link-color: #fa5959;
    --title-color: #242a45;
    --text-color: #9194a2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    width: 100%;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    background-color: #fff;
    color: var(--text-color);
    overflow-x: hidden;
}

.container {
    max-width: 1144px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* BUTTON */
.button {
    letter-spacing: 0.15px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.button-orange {
    width: 111px;
    height: 40px;
    padding: 12px 32px;
    line-height: 17px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: var(--link-color);
}

.button-orange:hover {
    padding: 8px 28px;
    border: 2px solid var(--link-color);
    background: none;
    color: var(--link-color);
}

.button-middle-blue {
    width: 161px;
    height: 48px;
    padding: 10px 24px;
    font-size: 14px;
    letter-spacing: mixed;
    line-height: 28px;
    background-color: var(--button-color);
}

.button-middle-blue:hover {
    padding: 8px 22px;
    border: 2px solid var(--button-color);
    background: none;
    color: var(--button-color);
}

.button-middle-black {
    background-color: #f7f7f7;
    color: var(--title-color);
}

.button-middle-black:hover {
    border: 2px solid var(--title-color);
    background: none;
    color: var(--title-color);
}

.button-small {
    padding: 10px 24px;
    background-color: var(--button-color);
}

.button-small:hover {
    opacity: 0.8;
}

.button-small:active {
    opacity: 0.6;
}

.button-big{
    max-width: 232px;
    padding: 10px 35px;
    background-color: var(--button-color);
}

.button-big:hover {
    border: 2px solid var(--button-color);
    background: none;
    color: var(--button-color);
}



/* Header */
.site-header__container {
    padding-top: 48px;
}

.sitenav {
    display: flex;
    align-items: center;
}

.sitenav__logo {
    margin-right: auto;
}

.sitenav__logo:hover {
    opacity: 0.8;
}

.sitenav__logo:active {
    opacity: 0.6;
}

.sitenav__logo-img {
    width: 149px;
    height: 25px;
    display: block;
}

.sitenav__list {
    display: flex;
    margin-right: 48px;
    list-style: none;
}

.sitenav__item {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.sitenav__item:not(:last-child) {
    margin-right: 46px;
}

.sitenav__link:hover {
    color: var(--link-color);
}

.sitenav__link:active {
    opacity: 0.8;
}

/* MAIN */
.main-content {
    flex-grow: 1;
}

/* HERO */
.hero {
    position: relative;
}

.hero-container {
    position: relative;
    display: flex;
}

.hero__left {
    width: 540px;
    height: 292px;
    margin-top: 179px;
    margin-bottom: 203px;
}

.hero__left-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    color: var(--title-color);
}

.hero__left-text {
    margin-top: 0;
    margin-bottom: 32px;
    letter-spacing: 0;
}

.hero__right {
    position: absolute;
    top: 108px;
    left: calc(50% + 65px);
    z-index: 2;
}

.hero__right-img {
    display: block;
    width: 578px;
    height: 385px;
}

.hero__bg {
    position: absolute;
    top: 200px;
    right: -500px;
}

/* FEATURES */
.features {
    position: relative;
    margin-top: 0;
    margin-bottom: 238px;
}

.features-container {
    flex-direction: column;
    padding-bottom: 50px;
}

.feature {
    margin-top: 0;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 540px;
    height: 152px;
}

.feature__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: var(--title-color);
}

.features__change {
    display: flex;
    justify-content: center;
}

.change {
    width: 730px;
    margin-top: 0;
    margin-bottom: 72px;
    border: 2px solid transparent;
    border-bottom-color: #333;
}

.change__link {
    padding: 0 40px 27px 41px;
    padding-bottom: 27px;
}

.change__link-active {
    border: 2px solid transparent;
    border-bottom-color: #fa5959;
}

/* Features-info */
.features__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__info--img {
    display: block;
    margin-right: 125px;
}

.features__info--content {
    flex-direction: column;
}

.features__info--content__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: var(--title-color);
}

.features__info--content__text {
    margin-top: 0;
    margin-bottom: 32px;
}

.features__bg-img {
    position: absolute;
    left: -500px;
    top: 428px;
    z-index: -1;
}

/* EXTENSION  */
.extension {
    display: flex;
    flex-direction: column;
}

.extension-container {
    margin-top: 0;
    margin-bottom: 48px;
}

.extension__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 48px;
    width: 541px;
    height: 124px;
    flex-direction: column;
}

.extension__top-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: var(--title-color);
}

.extension__top-text {
    text-align: center;
}

.extension__list {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 911px;
    margin: auto;
    margin-bottom: 149px;
    list-style: none;
}

.extension__item {
    position: relative;
    text-align: center;
    width: 280px;
    height: 371px;
    padding: 49px 2px 24px;
    border-radius: 15px;
    box-shadow: 0 7px 10px #9f9f9f;
}

.extension__item:not(:last-child) {
    margin-right: 36px;
}

.extension__item:nth-child(2) {
    margin-top: 40px;
}

.extension__item:nth-child(3) {
    margin-top: 80px;
}

.extension-download__img {
    width: 102px;
    height: 100px;
    margin-top: 0;
    margin-bottom: 32px;
}

.extension-download__title {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 500;
    color: var(--title-color);
}

.extension-download__version {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 60px;
}

.extension-download__version::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    margin-top: 50px;
    border-bottom: 5px dotted #979797;
    content: "";
}

.extension-download__link {
    width: 232px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
}

/* QUESTIONS */
.questions {
    max-width: 540px;
    margin: auto;
}

.questions__top {
    margin-top: 0;
    margin-bottom: 56px;
    text-align: center;
}

.questions__top-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: var(--title-color);
}

.questions__item {
    width: 100%;
    margin-top: 0;
    margin-bottom: 56px;
    padding-top: 19px;
    padding-bottom: 13px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    list-style: none;
}

.question {
}
.question__top {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.question__text {
}
.question__top-img {
}
.question__answer {
    display: none;
}

.question__answer-open {
    display: block;
}

.question__top-img {
    background-color: transparent;
}

.question__top:hover {
    color: var(--link-color);
}